/* ==========================================================================
	 Block
	 ========================================================================== */

.block
	background #000



/* Element
	 ========================================================================== */

.block__element
	background #000


/**
 * Modifier
 */

.block__element--modifier
	background #000





/* ==========================================================================
	 Another Block
	 ========================================================================== */

.another-block
	background #000