<!DOCTYPE html>
<!--[if lt IE 7]><html class='lt-ie9 lt-ie8 lt-ie7'><![endif]-->
<!--[if IE 7]><html class='lt-ie9 lt-ie8'><![endif]-->
<!--[if IE 8]><html class='lt-ie9'><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]-->
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title><%= _.capitalize(projectName) %></title>
		<meta name='description' content='<%= projectName %>'>
		<meta name='viewport' content='width=device-width, initial-scale=1, minimal-ui'>
		<link rel='stylesheet' href='build/app.css'>
		<!--[if lt IE 9]>
			<script src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'></script>
		<![endif]-->
	</head>
	<body>
		<script src='build/app.js'></script>
	</body>
</html>